.lsit{
	font-size: 44px;
	line-height: 90px;
}
 
 
 .list-view {
 	overflow: auto;
 	-webkit-overflow-scrolling: touch;
 	overflow-scrolling: touch;
 	
 	.list-view--icon {
 		display: inline-block;
 		width: 140px;
 		height: 160px;
 		background: #999;
 		position: relative;
 		top: 8px;
 		margin-right: 10px;
 	}
 	.list-view--icon:before {
 		content: '';
 		left: 50%;
 		top: 100%;
 		border: .16rem solid transparent;
 		border-top-color: #999;
 		position: absolute;
 		margin-left: -.16rem;
 	}
 	
 	.list-view--inner {
 		position: relative;
 		-webkit-backface-visibility: hidden;
 		backface-visibility: hidden;
 		-webkit-perspective: 1000;
 		perspective: 1000;
 		span {
 			font-size: 25px;
 		}
 		&.active {
 			.list-view--icon {
 				-webkit-transform: rotate(180deg);
 				-ms-transform: rotate(180deg);
 				transform: rotate(180deg);
 				background: #39f;
 				top: .06rem;
 			}
 			.list-view--icon:before {
 				border-top-color: #39f;
 			}
 			.list-view--refresh span:before {
 				content: attr(data-refresh)
 			}
 			.list-view--refresh {
 				color: #39f;
 			}
 		}
 		&.loading {
 			.list-view--refresh span:before {
 				content: attr(data-loading);
 			}
 			.list-view--icon {
 				display: none;
 			}
 			.list-view--spinner {
 				display: inline-block;
 			}
 		}
 	}
 	.list-view--loading {
 		text-align: center;
 		line-height: .92rem;
 		color: #999;
 	}
 	.list-view--spinner {
 		margin-right: .08rem;
 	}
 	
 	.list-view--refresh {
 		color: #999;
 		line-height: .9rem;
 		margin-top: -.9rem;
 		text-align: center;
 	}
 	.list-view--refresh .list-view--spinner {
 		display: none;
 	}
 	.list-view--refresh span:before {
 		content: attr(data-pulldown);
 	}
 }