.vue-pull-to-wrapper,
.vue-pull-to-wrapper > .scroll-container {
  padding: 0;
  border: 0 none;
  margin: 0;
}

.vue-pull-to-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vue-pull-to-wrapper > .scroll-container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.vue-pull-to-wrapper > .scroll-container > .bottom-filler {
  height: 0px;
}

.vue-pull-to-wrapper > .action-block {
  position: relative;
  width: 100%;
}

.vue-pull-to-wrapper > .action-block > .default-text {
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.vue-pull-to-wrapper,
.vue-pull-to-wrapper > .action-block-bottom,
.vue-pull-to-wrapper > .scroll-container > .bottom-fill {
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}